<div class="jumbotron">
<h1>Bakeshop</h1>
<p> Sign up <%= link_to "here", "#" %>.</p>
</div>

<div class="jumbotron">
  <p>We very much like Baked Goods... look at these babies! <%= link_to "thecookiestudio.com", "http://thecookiestudio.com/", class: "btn btn-primary" %></p>
</div>

<div class="jumbotron">
  
</div>

<div class="jumbotron">
  
</div>