
<div class="jumbotron">
 <h1> BAKED GOODS...</h1>
 <h2> T-SHIRTS!
  T-SHIRTS!
  T-SHIRTS!
  T-SHIRTS!
</h2>
</div>

<div class="container-fluid">
 

<div class="row">
  <div class="col-md-4 col-md-2">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="">
      <div class="caption">
        <h3>T-Shirt</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure </p>
         
         
         <label class="amount">
      <span>Price: $45.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="One time payment"
          data-amount="4500"></script>
      </div>
    </div>
  </div>

<div class="col-md-4 col-md-2">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="">
      <div class="caption">
        <h3>Slippers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> 
      </div>
     </div>
    </div>
  
   <div class="col-md-4 col-md-2">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="">
      <div class="caption">
        <h3>Collegiate Cardigan</h3>
        <p>   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure </p>
        

        <label class="amount">
      <span>Price: $500.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="One time payment"
          data-amount="50000"></script>
      </div>
     </div>
    </div>
   </div>
 </div>
 <p><!-- pagebreak --></p>

  
<div class="jumbotron other-color">
  
</div>


<div class="jumbotron other-color-2">
  </div>
  


 

  




