.row{
  background-color: #7f8c8d;

}
.col-md-1{
	background-color: #3498db;
	
  }

.col-md-offset-1{
  background-color: #8e44ad  ;
  
  }


.other-color{
    background: #8e44ad;
  }

  
 .other-color-1{
    background: #1abc9c;

  }


  .other-color-2{
    background: #e74c3c;
  }