.col-md-2{
	background-color: #f1c40f;
	border: 4px solid #d35400;

}

.other-color{
    background: #8e44ad;
  }

  
 .other-color-1{
    background: #1abc9c;
  }


  .other-color-2{
    background: #e74c3c;
  }